version: '3'
services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./portainer-data:/data
    ports:
      - 9000:9000

  database:
    image: mysql:8
    container_name: mysqldb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: devopstpachat
    volumes:
      - /home/mysql/data:/var/lib/mysql
    ports:
      - 3306:3306
    networks:
      - devopstp

  spring-boot:
    image: muckydreamz/tpachatdevops
    container_name: spring
    ports:
      - 8089:8089
    depends_on:
      - database
    networks:
      - devopstp
    restart: on-failure

networks:
  devopstp:
